.GameOverScrean{
    height: 100%;
    width: 100%;
    background-image: url("./scarry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.b{
    position: absolute;
    left:50%;
    top: 10%;
}