html{
  height: 100vh;
}
.app {
  display: flex;
  background-color: #656566;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto; 
}

.preGame{
position: absolute;
top: 10%;
  
}
